@def selectionBorderWidth 2px;
.cellTableWidget {
  border-collapse: collapse;
}

.cellTableFirstColumn {
}

.cellTableLastColumn {
}

.cellTableHeader, .cellTableFooter {
}

.cellTableCell {
  padding: 2px 15px;
  text-align: left;
  overflow: hidden;
  font-family: mainFontFamily;
  font-size: secondaryTextFontSize;
  text-shadow: 0px 1px 0px rgba(46, 46, 46, 0.5);
  border-width: 1px;
  border-style: solid;
  border-color: #2f2f2f;
  background-color: cellEvenRow;
  font-weight: normal;
  color: mainFontColor;
}

.cellTableHeader,.cellTableCell {
  max-width: 190px;
  word-wrap: normal;
  white-space: nowrap;
}

.cellTableFirstColumnFooter {
}

.cellTableFirstColumnHeader {
}

.cellTableLastColumnFooter {
}

.cellTableLastColumnHeader {
}

.cellTableSortableHeader {
  cursor: pointer;
  cursor: hand;
}

.cellTableSortableHeader:hover {
  color: cellHoveredRow;
}

.cellTableSortedHeaderAscending {

}

.cellTableSortedHeaderDescending {

}

.cellTableEvenRow {
}

.cellTableEvenRowCell {
}

.cellTableOddRow {
}

.cellTableOddRowCell {
}

.cellTableHoveredRow {
}

.cellTableHoveredRowCell {
}

.cellTableKeyboardSelectedRow {
  background: cellKeyboardSelectedRow;
}

.cellTableKeyboardSelectedRowCell {
  border: selectionBorderWidth solid cellKeyboardSelectedRow;
}

.cellTableSelectedRow {
  background: cellKeyboardSelectedRow;
  color: editorSelectionColor;
  height: auto;
  overflow: auto;
}

.cellTableSelectedRowCell {
  border: selectionBorderWidth solid cellKeyboardSelectedRow;
}

/**
 * The keyboard selected cell is visible over selection.
 */
.cellTableKeyboardSelectedCell {
  border: selectionBorderWidth solid #d7dde8;
}

.cellTableLoading {
  margin: 30px;
}

