@def selectionBorderWidth 2px;
.cellTableWidget {
 
}

.cellTableFirstColumn {
 
}

.cellTableLastColumn {
 
}

.cellTableFooter {
  border-top: 2px solid #6f7277;
  padding: 3px 15px;
  text-align: left;
  color: editorDefaultFontColor;
  text-shadow: none;
  font-weight: normal;
  font-size: fontSize;
  overflow: hidden;
}

.cellTableHeader {
  border-bottom: 2px solid #6f7277;
  padding: 3px 15px;
  text-align: left;
  color: editorDefaultFontColor;
  text-shadow: none;
  font-weight: normal;
  font-size: fontSize;
  overflow: hidden;
}

.cellTableCell {
  padding: 2px 15px;
  overflow: hidden;
  font-weight: normal;
  font-size: fontSize;
  text-overflow : ellipsis;
}

.cellTableFirstColumnFooter {
 
}

.cellTableFirstColumnHeader {
 
}

.cellTableLastColumnFooter {
 
}

.cellTableLastColumnHeader {
 
}

.cellTableSortableHeader {
  cursor: pointer;
  cursor: hand;
}

.cellTableSortableHeader:hover {
  color: cellHoveredRow;
}

.cellTableSortedHeaderAscending {

}

.cellTableSortedHeaderDescending {

}

.cellTableEvenRow {
  background: cellEvenRow;
}

.cellTableEvenRowCell {
  border: selectionBorderWidth solid cellEvenRow;
}

.cellTableOddRow {
  background: cellOddRow;
}

.cellTableOddRowCell {
  border: selectionBorderWidth solid cellOddRow;
}

.cellTableHoveredRow {
  background: cellHoveredRow;
}

.cellTableHoveredRowCell {
  border: selectionBorderWidth solid cellHoveredRow;
}

.cellTableKeyboardSelectedRow {
  background: cellKeyboardSelectedRow;
}

.cellTableKeyboardSelectedRowCell {
  border: selectionBorderWidth solid cellKeyboardSelectedRow;
}

.cellTableSelectedRow {
  background: cellKeyboardSelectedRow;
  color: editorSelectionColor;
  height: auto;
  overflow: auto;
}

.cellTableSelectedRowCell {
  border: selectionBorderWidth solid cellKeyboardSelectedRow;
}

/**
 * The keyboard selected cell is visible over selection.
 */
.cellTableKeyboardSelectedCell {
  border: selectionBorderWidth solid #d7dde8;
}

.cellTableLoading {
  margin: 30px;
}

.infoHeader {
  background: windowHeaderBackground;
  color: editorDefaultFontColor;
}

.queryReminder {
  font-weight: normal;
  font-size: fontSize;
  text-overflow: ellipsis;
  float: left;
  padding-right: 2em;
}

.csvButton {
  font-weight: normal;
  font-size: fontSize;
}

.infoHeaderTitle {
  float: left;
  font-weight: bold;
  font-size: largeFontSize;
  margin-right: 30px;
}
