/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 * [2012] - [2013] Codenvy, S.A.
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */

@def selectionBorderWidth 2px;
.cellTableWidget {
  border-collapse: collapse;
}

.cellTableFirstColumn {
}

.cellTableLastColumn {
}

.cellTableHeader, .cellTableFooter {
}

.cellTableCell {
  padding: 2px 15px;
  text-align: left;
  overflow: hidden;
  font-family: mainFontFamily;
  font-size: secondaryTextFontSize;
  text-shadow: 0px 1px 0px rgba(46, 46, 46, 0.5);
  border-width: 1px;
  border-style: solid;
  border-color: #2f2f2f;
  background-color: cellEvenRow;
  font-weight: normal;
  color: mainFontColor;
}

.cellTableHeader,.cellTableCell {
  max-width: 190px;
  word-wrap: normal;
  white-space: nowrap;
}

.cellTableFirstColumnFooter {
}

.cellTableFirstColumnHeader {
}

.cellTableLastColumnFooter {
}

.cellTableLastColumnHeader {
}

.cellTableSortableHeader {
  cursor: pointer;
  cursor: hand;
}

.cellTableSortableHeader:hover {
  color: cellHoveredRow;
}

.cellTableSortedHeaderAscending {

}

.cellTableSortedHeaderDescending {

}

.cellTableEvenRow {
}

.cellTableEvenRowCell {
}

.cellTableOddRow {
}

.cellTableOddRowCell {
}

.cellTableHoveredRow {
}

.cellTableHoveredRowCell {
}

.cellTableKeyboardSelectedRow {
  background: cellKeyboardSelectedRow;
}

.cellTableKeyboardSelectedRowCell {
  border: selectionBorderWidth solid cellKeyboardSelectedRow;
}

.cellTableSelectedRow {
  background: cellKeyboardSelectedRow;
  color: editorSelectionColor;
  height: auto;
  overflow: auto;
}

.cellTableSelectedRowCell {
  border: selectionBorderWidth solid cellKeyboardSelectedRow;
}

/**
 * The keyboard selected cell is visible over selection.
 */
.cellTableKeyboardSelectedCell {
  border: selectionBorderWidth solid #d7dde8;
}

.cellTableLoading {
  margin: 30px;
}

