
.formField-Label {
    color: mainFontColor;
    font-family: mainFontFamily;
    font-size: boxFontSize;
    font-weight: normal;
    text-shadow: boxTextShadow;
}

.explorer-datasourceList {
    width: literal("calc(100% - 2px)");
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 2px;
}

.explorer-refreshButton {
    width: 16px; /* keep px units, it comes from the image sizes */
    height: 16px;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}

.explorer-topPanel {
    background-color: activeTabBackground;
    border-bottom: 1px;
    height: 35px;
}

.requestLauncher-listBox {
    height: 25px;
    margin-top: 5px;
    margin-left: 2px;
    margin-bottom: 5px;
    margin-right: 2px;
    padding-left: 7px;
    padding-right: 7px;
    float: right;
}
.requestLauncher-executionModeListBox {
}

.requestLauncher-datasourceListBox {
}

.requestLauncher-textBox {
    height: 25px;
    margin: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
    float: right;
}
.requestLauncher-resultLimitInput {
}

.requestLauncher-executeButton {
    color: notableButtonTopColor;
    background: none repeat scroll 0% 0% notableButtonColor;
    border-color: brColor;
    font-size: boxFontSize;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
    height: 25px;
    margin: 5px;

    box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 1px 0px rgba(0, 0, 0, 0.29);
}

.requestLauncher-label {
    height: 20px;
    margin-right: 4px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    float: right;
}

.requestLauncher-executionModeLabel {
}

.requestLauncher-resultLimitLabel {
}

.requestLauncher-selectDatasourceLabel {
}

.resultHeader-infoHeader {
  background: windowHeaderBackground;
  color: editorDefaultFontColor;
  height:2em;
}

.resultHeader-queryReminder {
  font-weight: normal;
  font-size: fontSize;
  font-family: editorFontFamily;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 2em;
  white-space: nowrap;
  width: 50em;
  line-height: 2em;
}

.resultHeader-csvButton {
  font-weight: bold;
  font-size: fontSize;
  padding-left: 0.8em;
  padding-right: 0.8em;
  margin-right: 3em;
  height: 1.6em;
  margin-top: 0.2em;
}

.resultHeader-csvLink {
  font-weight: normal;
  font-size: fontSize;
  font-family: mainFontFamily;
  overflow: hidden;
  white-space: nowrap;
  line-height: 2em;
}

.resultHeader-infoHeaderTitle {
  font-weight: bold;
  font-size: fontSize;
  margin-right: 30px;
  line-height: 2em;
}
