
.explorer-datasourceList {
    color: mainFontColor;
    background-color: partBackground;
    border: tabBorder;
    border-radius: 2px;
    font-size: fontSize;
    font-weight: bold;
    width: 100%;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
}

.explorer-refreshButton {
    width: 16px; /* keep px units, it comes from the image sizes */
    height: 16px;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}

.explorer-topPanel {
    background-color: activeTabBackground;
    border-bottom: 1px;
    height: 35px;
}
