@CHARSET "UTF-8";
/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 * [2012] - [2013] Codenvy, S.A.
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */


@external sql-keyword, sql-atom, sql-number, sql-def, sql-variable, sql-variable-2, sql-variable-3;
@external sql-property, sql-operator, sql-comment, sql-string, sql-string-2, sql-meta, sql-qualifier;
@external sql-builtin, sql-bracket, sql-tag, sql-attribute, sql-header, sql-quote, sql-hr,sql-link;
@external sql-negative, sql-positive, sql-header, sql-strong, sql-em, sql-link, sql-error, sql-invalidchar;

/* use constants @eval-defined in style.css */
.sql-keyword {color: keyword;}
.sql-atom {color: atom;}
.sql-number {color: number;}
.sql-def {color: deff;}
.sql-variable {color: variable;}
.sql-variable-2 {color: variable2;}
.sql-property {color: property;}
.sql-operator {color: operator;}
.sql-comment {color: comment;}
.sql-string {color: string;}
.sql-string-2 {color: string2;}
.sql-meta {color: smeta;}
.sql-builtin {color: builtin;}
.sql-tag {color: tag;}
.sql-attribute {color: attribute;}
.sql-error {color: error;}

/* undefined in style.css */
/* .sql-qualifier {color: #555;} */
/* .sql-bracket {color: #997;} */
/* .sql-header {color: blue;} */
/* .sql-quote {color: #090;} */
/* .sql-hr {color: #999;} */
/* .sql-link {color: #00c;} */
/* .sql-negative {color: #d44;} */
/* .sql-positive {color: #292;} */
/* .sql-header, .sql-strong {font-weight: bold;} */
/* .sql-em {font-style: italic;} */
/* .sql-link {text-decoration: underline;} */
/* .sql-variable-3 {color: #085;} */
/* .sql-invalidchar {color: #f00;} */
